section {
    max-width: max-content;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;
    align-items: center;
}

.features ul {
    text-align: left;
}

.features ul strong {
    margin-left: 5px;
    color: #3f51b5;
}